#app {
  display: flex;
  height: 100%;
}
#main {
  display: flex;
}
#one,
#two,
#three {
  padding: 15px;
  box-shadow: 1px 1px 2px 1px rgba(178, 178, 178, 0.3);
  overflow-y: auto;
}
#one {
  flex: 0 0 300px;
}
#two {
  flex: 0 0 240px;
}
#three {
  flex: 1;
}
.label {
  border: 1px solid #f34f4f;
  padding: 0 2px;
  color: #f34f4f;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  text-align: center;
}
.title {
  text-decoration: underline;
  cursor: pointer;
}
.row {
  display: flex;
  margin: 10px 0;
}
.search-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 4px;
  width: 300px;
}
.files-item {
  margin-bottom: 10px;
  position: relative;
  box-shadow: 2px 2px 4px 1px rgba(178, 178, 178, 1);
  padding: 6px 12px 4px;
}
.spisode-number {
  white-space: nowrap;
  height: 28px;
  line-height: 28px;
  padding: 0 4px;
  margin-bottom: 4px;
  position: absolute;
  right: 0;
  top: 0;
  color: #f34f4f;
}
.source-item {
  color: #909399;
  width: 2em;
  height: 28px;
  line-height: 28px;
  padding: 0 4px;
}
#two > .list > p {
  margin: 10px 0;
}
.thunder-button {
  padding-top: 0;
  padding-bottom: 0;
  height: 28px;
}
@media screen and (max-width: 1024px) {
  #main {
    flex-direction: column;
  }
  #main > #one,
  #main > #two {
    flex: 1;
  }
  #main > #three {
    height: 100%;
  }
}
/** next **/
.el-header {
  display: flex;
  padding:0 !important;
}
.el-header .el-icon-menu {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545c64;
  color: #f34f4f;
}
.el-header #menu {
  flex: 1;
}
#hidebar {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
}
#hidebar p,
#hidebar img {
  margin-bottom: 10px;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  transition: all 0.3s ease-out;
}
.mask.on,
#hidebar.on {
  opacity: 0.618;
  visibility: visible;
}
#hidebar.on {
  opacity: 1;
}
#logout {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}